coreapi==2.3.*
cryptography==37.0.*
Django==3.2.*
django-allauth==0.50.*
django-cors-headers==3.12.*
django-extra-fields==3.0.*
django-filter==21.*
django-summernote==0.8.20.*
djangorestframework==3.13.*
djoser==2.1.*
dry-rest-permissions==0.1.*
gunicorn==20.1.*
Pillow==9.1.*
psycopg2-binary==2.9.*
requests==2.27.*
rncryptor==3.3.*
django-storages==1.12.*
iptools==0.7.0
django-rest-invitations==0.1.*
django-debug-toolbar==3.4.*
django-trench==0.3.*
drf-spectacular==0.23.*
pyyaml==6.0.*
uritemplate==4.1.*
retry==0.9.*
regex==2023.5.*
dateparser==1.1.*
python-dateutil==2.8.*
